language: ruby
rvm:
  - <%= config.fetch(:versions).fetch(:ruby) %>
<%- if config.fetch(:create).fetch(:rails) -%>
gemfile:
  - gemfiles/rails-4.2.x.gemfile
<%- end -%>
script: bundle exec rake
notifications:
  email: false
