language: ruby
rvm:
  - <%= config.dig(:versions, :ruby) %>
<%- if config.dig(:create, :rails) -%>
gemfile:
  - gemfiles/rails-<%= config.dig(:versions, :rails) %>.x.gemfile
<%- end -%>
script: bundle exec rake
<%- if config.dig(:create, :code_climate) -%>
after_script: bundle exec codeclimate-test-reporter
<%- end -%>
notifications:
  email: false
