# frozen_string_literal: true

<% render_namespace do %>
  # Gem identity information.
  module Identity
    def self.name
      "<%= config.dig(:gem, :name) %>"
    end

    def self.label
      "<%= config.dig(:gem, :class) %>"
    end

    def self.version
      "0.1.0"
    end

    def self.version_label
      "#{label} #{version}"
    end
    <%- if config.dig(:create, :cli) -%>

    def self.file_name
      ".#{name}rc"
    end
    <%- end -%>
  end
<% end %>
