Description:
    Installs additional <%= config.fetch(:gem).fetch(:class) %> resources.

Example:
    rails generate <%= config.fetch(:gem).fetch(:name) %>:install

    This will create:
        what/will/it/create
