# frozen_string_literal: true

desc "Open IRB console for gem development environment"
task :console do
  require "irb"
  require "<%= config.fetch(:gem).fetch(:name) %>"
  ARGV.clear
  IRB.start
end
