module <%= config.fetch(:gem).fetch(:class) %>
  # Generator for updating existing files.
  class UpgradeGenerator < Rails::Generators::Base
    source_root File.join(File.dirname(__FILE__), "..", "templates")

    desc "Upgrades previously installed <%= config.fetch(:gem).fetch(:class) %> resources."
    def upgrade
      # TODO: Add upgrade code.
    end
  end
end
