Description:
    Upgrades previously installed <%= config.fetch(:gem).fetch(:class) %> resources.

Example:
    rails generate <%= config.fetch(:gem).fetch(:name) %>:upgrade

    This will create:
        what/will/it/create
