module <%= config.fetch(:gem).fetch(:class) %>
  # Gem identity information.
  module Identity
    def self.name
      "<%= config.fetch(:gem).fetch(:name) %>"
    end

    def self.label
      "<%= config.fetch(:gem).fetch(:class) %>"
    end

    def self.version
      "0.1.0"
    end

    def self.version_label
      "#{label} #{version}"
    end
    <%- if config.fetch(:create).fetch(:cli) -%>

    def self.file_name
      ".#{name}rc"
    end
    <%- end -%>
  end
end
