module <%= config[:gem_class] %>
  # Gem identity information.
  module Identity
    def self.name
      "<%= config[:gem_name] %>"
    end

    def self.label
      "<%= config[:gem_class] %>"
    end

    def self.version
      "0.1.0"
    end

    def self.version_label
      "#{label} #{version}"
    end
    <%- if config[:bin] -%>

    def self.file_name
      ".#{name}rc"
    end
    <%- end -%>
  end
end
