# frozen_string_literal: true

module <%= config.dig(:gem, :class) %>
  # Generator for installing new files.
  class InstallGenerator < Rails::Generators::Base
    source_root File.join(File.dirname(__FILE__), "..", "templates")

    desc "Installs additional <%= config.dig(:gem, :class) %> resources."
    def install
      # TODO: Add install code.
    end
  end
end
